#profile-card {
    padding: 1.5rem 3rem;
    border-radius: 12px;
    display: flex;
    gap: 2rem;
    max-width: 650px;
    width: 100%;
    align-items: center;
    margin-bottom: 2rem;
}

#profile-pic-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #10b981;
    transition: transform 0.3s ease-in-out;
}

#profile-pic:hover {
    transform: scale(1.05);
}

.role-text {
    font-size: 1.4rem;
    font-weight: 400;
    color: #d1d5db;
    margin: 0.1rem 0.1rem 1rem;
    /*white-space: nowrap;*/
}

.social-links a {
    margin: 0.1rem 0.1rem;
    text-decoration: none;
}

.social-links svg {
    width: 28px;
    height: 28px;
}
