:root {
    --new-base-text-color: #d1d5db;
    --highlight-color: #BBC863;
}

#profile-card {
    padding: 1.5rem 3rem;
    border-radius: 12px;
    display: flex;
    gap: 2rem;
    max-width: 650px;
    width: 100%;
    align-items: center;
    margin-bottom: 2girem;
}

#profile-pic-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #10b981;
    transition: transform 0.3s ease-in-out;
}

#profile-pic:hover {
    transform: scale(1.05);
}

.role-text {
    font-size: 1.4rem;
    font-weight: 400;
    color: #d1d5db;
    margin: 0.1rem 0.1rem 1rem;
    animation: glow-pulse 3s infinite alternate ease-in-out;
}

@keyframes glow-pulse {
    0% {
        color: var(--new-base-text-color);
        text-shadow: 0 0 4px rgba(209, 213, 219, 0.5);
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        color: var(--highlight-color);
        text-shadow: 0 0 10px var(--highlight-color), 0 0 20px rgba(187, 200, 99, 0.8);
        transform: translateY(-1px) scale(1.01);
        opacity: 0.98;
    }
    100% {
        color: var(--new-base-text-color);
        text-shadow: 0 0 4px rgba(209, 213, 219, 0.5);
        transform: translateY(0);
        opacity: 1;
    }
}

.social-links a {
    margin: 0.1rem 0.1rem;
}

.social-links svg {
    width: 28px;
    height: 28px;
}
