html {
    height: 100vh;
    background: #222831;
    color: #DFD0B8;
    font-family: 'JetBrains Mono', 'Fira Code', 'Courier New', monospace;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#main-page-header {
    font-size: 3rem;
}

.footer-content {
    background-color: #1E232A;
    width: 100%;
    margin-top: auto;
    color: #a0aec0;
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px solid #3d4659;
}

a {
    text-decoration: none;
}

.home-link {
    justify-self: left;
}

.home-link a {
    color: #BBC863;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.home-link a:hover {
    color: #29ABCD;
    transition: 0.5s ease-in-out;
}

.home-link a::after {
    content: "";
    background: linear-gradient(to right, #CD00A1, #29ABCD);
    border-radius: 10px;
    height: 5px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.5s ease-in-out;
}

.home-link a:hover::after {
    width: 100%;
}